<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title >Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body bgcolor="#cfcfcf">
<h1 style="color:red" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
<h2 align="center" th:utext="${message}">..!..</h2>

<h3 align="center" ><a th:href="@{/categories}">Categories</a></h3>
    <h4 align="center" ><a th:href="@{/user}">UserList</a></h4>
</body>

</html>

