<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Furniture List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body bgcolor="#cfcfcf">
<h1 align="center" ><a th:href="@{/categories}">Back to categories</a></h1>
<h1>Furniture List</h1>


<br/><br/>
<div>
    <table border="1">
        <tr>
            <th width="150">Title</th>
            <th width="75">Price,uah</th>
            <th width="30"> Edit</th>
            <th width="30"> Delete</th>

        </tr>
        <tr th:each ="furniture : ${furnitures}">
            <td th:utext="${furniture.title}">...</td>
            <td th:utext="${furniture.price}">...</td>
            <td bgcolor="FF9999"><a th:href ="@{/edit/{id}(id=${furniture.id})}" th:utext= edit></a></td>
            <td bgcolor="FF9999"><a th:href="@{delete/{id}(id=${furniture.id})}" th:utext= delete></a></td>


        </tr>
    </table>
    <br/><br/>
    <h1>Create a Furniture:</h1>

    <form th:action="@{addfurniture/{id}(id=${categories.id})}"
          th:object="${furnitureform}"method="post">

        <br/>
        Title:
        <input type="text" th:field="*{title}" />
        <br/>
        <br/>
        Price:
        <input type="text" th:field="*{price}" />

        <br/>
        <br/>

        <input type="submit" value="Create" />
    </form>

    <br/>

    <!-- Check if errorMessage is not null and not empty -->
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
        ...
    </div>




</div>
</body>
</html>