<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Update User</h1>

<form  th:action="@{/user}"method="post"
        th:object="${user}">

    <input type="text" th:field="*{name}" value="${user.name}"/>
    <input type="hidden" th:field="*{id}"value="${user.id}"/>

    <div th:each="role : ${roles}">
        <input type="checkbox" th:name="${role}" th:checked="${#arrays.contains(user.roles, role)}">﻿
        <label th:text="${role}" /></label>
    </div>﻿
    <button type="submit">Save</button>


</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>